@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: rgba(var(--primary));
  --color-white: var(--white);
  --color-yellow: var(--yellow);
  --color-black: var(--black);
  --color-green: var(--green);
  --color-black-800: var(--black-800);
}

@layer base {
  * {
    color: var(--white);
  }
  p {
    font-size: clamp(14px, 1rem, 2vw);
  }
  [data-theme="light"] {
    --nprogress-color: #ffd341;
    --green: #c6e06f;
    --white: #ffffff;
    --black: #0c0a19;
    --black-800: #222222;
    --yellow: #ffd341;
  }

  [data-theme="dark"] {
    --nprogress-color: #ffd341;
    --green: #c6e06f;
    --white: #ffffff;
    --black: #0c0a19;
    --yellow: #ffd341;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  .button-hover:hover {
    filter: brightness(0.9);
    cursor: pointer;
    transition: all 0.2s;
  }
  .disabled {
    pointer-events: none;
  }

  #nprogress .bar {
    background: #ffd341 !important;
  }

  #nprogress .peg {
    box-shadow: 0 0 10px #ffd341, 0 0 5px #ffd341 !important;
  }
}

* {
  font-family: "Braah One";
}
